## **DATA STRUCTURE AND IT'S TYPES**

1. What are data structures, and why are they important ?

Ans. Data structures are just ways of organizing and storing data in a computer so that we can use it efficiently.

Why are they important?

Because the way you store data changes how fast and easy it is to work with it.

The right data structure makes programs faster, smarter, and more memory-friendly.

Without them, computers would waste a lot of time searching, sorting, or managing data.

2. Explain the difference between mutable and immutable data types with examples ?

Ans. 1. Mutable = Changeable

If something is mutable, it means you can change it after it‚Äôs created.

üîπ Example: A list in Python.

my_list = [1, 2, 3]

my_list[0] = 99   # changed first element

print(my_list)   # [99, 2, 3]


The list got changed.

2. Immutable = Unchangeable

If something is immutable, it means once it‚Äôs created, it cannot be changed.

üîπ Example: A string in Python.

my_string = "hello"

my_string[0] = "H"   # this will cause error

3. What are the main difference between lists and tuples in Python ?

Ans. üîπ Lists

Changeable (mutable): You can add, remove, or modify items.

Written with square brackets ‚Üí [ ]

Slower compared to tuples because they allow changes.

Best when data can change (like a shopping cart).

Example:

my_list = [1, 2, 3]
my_list.append(4)   # now it's [1, 2, 3, 4]

üîπ Tuples

Unchangeable (immutable): Once made, you can‚Äôt add or modify items.

Written with round brackets ‚Üí ( )

Faster and uses less memory than lists.

Best when data should stay fixed (like days of the week).

Example:

my_tuple = (1, 2, 3)

my_tuple[0] = 99  # this gives an error

4. Describe how dictionaries store data .

Ans. A dictionary in Python stores data as key‚Äìvalue pairs.

üîπ Example in Python:

student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}


Here:

"name", "age", "grade" ‚Üí keys

"Alice", 20, "A" ‚Üí values

So if you ask for student["name"], Python gives you "Alice".

üîπ How does it work inside?

Python dictionaries work like a set of labeled boxes:

Each key is like a label on the box.

The value is what‚Äôs inside the box.

You don‚Äôt need to search through everything‚Äîjust look at the label to quickly find the right box.

5. Why might you use a set instead of a list in python ?

Ans. A set in Python is like a bag of unique items.

üîπ Why use a set instead of a list?

a) No duplicates allowed

A set automatically removes duplicates.

b) Faster searching

If you want to check ‚ÄúIs 5 in this collection?‚Äù, sets are much quicker than lists.

c) Math-like operations

Sets can easily do union, intersection, and difference (like in math).

In short:

List = bag where you can put anything, even repeats.

Set = basket that only keeps unique items and helps you find things quickly.

6. What is a string in Python, and how is it different from a list ?

Ans. üîπ What is a string?

A string is just text in Python, written inside quotes (" " or ' ').

Example:

name = "Hello World"


Here, "Hello World" is a string.

üîπ How is a string different from a list?

1) Content

A string stores characters (letters, numbers, symbols).

A list can store anything (numbers, strings, other lists, etc.).



2) Mutable vs Immutable

String = immutable (you can‚Äôt change part of it directly).

List = mutable (you can change items).


3) Purpose

Use strings when working with words, sentences, or text.

Use lists when you need a collection of different items.

7. How do Tuples ensure data integrity in Python ?

Ans. üîπ What is ‚Äúdata integrity‚Äù?

It means keeping data safe and unchanged once it‚Äôs set.

üîπ How do tuples help with that?

A tuple in Python is immutable ‚Üí you cannot change it after it‚Äôs created.

That means no one can accidentally add, remove, or modify its elements.

8. What is a hash table, and how does it relate to dictionaries in Python ?

Ans. A hash table is a smart way of storing data so you can find it really fast.

Imagine a big row of lockers.

Each item gets a number (address) from a special formula called a hash function.

You don‚Äôt search all lockers‚Äîyou go straight to the right one using its number.

This makes looking up things almost instant.

üîπ How does this relate to dictionaries in Python?

A dictionary in Python is built using a hash table.

The keys (like "name", "age") are run through a hash function to figure out where to store their values.

Example:

student = {"name": "Alice", "age": 20}

9. Can lists contain different data types in Python ?

Ans. Yes , a list can hold different data types all together.


Here the list has:

* an integer (10)

* a string ("hello")

* a float (3.5)

* a boolean (True)

10. Explain why strings are immutable in Python ?

Ans. üîπ Why are strings immutable in Python?

* Safety & reliability

Strings are used a LOT in programs (like file names, passwords, messages).

Making them immutable means they can‚Äôt be changed accidentally, keeping your data safe.

* Efficiency

Since strings don‚Äôt change, Python can reuse the same string in memory instead of making duplicates everywhere ‚Üí this saves memory and speeds things up.

* Hashing (important for dictionaries/sets)

Immutable objects (like strings) can be used as keys in dictionaries.

If strings could change, keys would become unreliable and data could get lost.

11. What advantages do dictionaries offer over lists for certain tasks ?

Ans. Advantages of dictionaries over lists

1) Fast lookups

* In a list: to find "Alice", you might check each item.

* In a dictionary: just ask student["name"] ‚Üí instant answer.

2) Clear meaning

* In a list: [ "Alice", 20 ] ‚Üí which is name? which is age?

* In a dictionary: {"name": "Alice", "age": 20} ‚Üí much clearer.

3) Unique keys

* Dictionaries don‚Äôt allow duplicate keys, so data is more organized.

4) Flexible

* You can store many different types of values, all labeled with meaningful keys.

12. Describe a scenario where using a tuple would be preferable over a list .

Ans. Example scenario: Days of the week

* The days of the week never change, right? (Monday, Tuesday, ‚Ä¶ Sunday).

If we use a tuple:

days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")


No one can accidentally add "Funday" or remove "Wed". ‚úî

If we used a list, someone might do:

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

days.append("Funday")   # wrong, but allowed in a list

13. How do sets handle duplicate values in Python ?

Ans. In Python, a set automatically removes duplicates:

* If you put the same value more than once, the set will only keep one copy.

* Example:
numbers = {1, 2, 2, 3, 3, 3}

    print(numbers)   # {1, 2, 3}


Even though we added 2 and 3 multiple times, the set only kept unique values.

14. How does the  "in" keyword work differently for lists and dictionaries ?

Ans. üîπ In a list

The "in" keyword checks if a value exists in the list.

Example:

fruits = ["apple", "banana", "cherry"]

print("apple" in fruits)   # True

print("mango" in fruits)   # False



üîπ In a dictionary

The "in" keyword checks if a key exists (not the value).

Example:

student = {"name": "Alice", "age": 20}

print("name" in student)   # True  (key exists)

print("Alice" in student)  # False (values are not checked)

15. Can you modify the elements of a tuple ? Explain why or why not ?

Ans. üîπ Can you modify elements of a tuple?

 No, you cannot.
Once a tuple is created, its elements are locked and cannot be changed, added, or removed.

* Example:

my_tuple = (10, 20, 30)

my_tuple[0] = 99   #  Error: tuples don‚Äôt allow changes

üîπ Why not?

Because tuples are immutable ‚Üí which means unchangeable.

Python designed tuples this way so they can:

* Protect data (ensure it stays the same).

* Be used as keys in dictionaries or elements in sets (only immutable things are allowed there).

* Be faster and more memory-efficient than lists.

16. Whst is a nested dictionary , and give an example of its use case ?

Ans. A nested dictionary is just a dictionary inside another dictionary.

Think of it like a big folder that has smaller folders inside.
Each small folder has its own labeled info.

üîπ Example:

students = {
    "student1": {"name": "Alice", "age": 20, "grade": "A"},
    "student2": {"name": "Bob", "age": 22, "grade": "B"}
}


Here:

students is the main dictionary.

Each student (student1, student2) is a dictionary inside with their details.

üîπ Use case:

Nested dictionaries are useful when you need to store complex data in an organized way.

* Example:

Storing info about many students (name, age, grade).

Storing settings for users in an app.

Storing data for products in an online store.

17. Describe time complexity of accessing elements in a dictonary ?

Ans. üîπ Accessing elements in a dictionary

When you look up a value in a dictionary using a key, Python uses a hash table under the hood.
That means it doesn‚Äôt search one by one (like a list). Instead, it jumps straight to the right spot.

üîπ Time complexity

On average: O(1) ‚Üí constant time (very fast, no matter how big the dictionary is).

In the worst case (rare, like when many keys collide): O(n) ‚Üí slower, but Python is optimized to avoid this most of the time.

18. In what situations are lists preferred over dictionaries ?

Ans. üîπ When to use lists instead of dictionaries

* Order matters

Lists remember the order of items.

Example: a playlist of songs where the order matters.

playlist = ["song1", "song2", "song3"]


* You just need a collection of items

If you don‚Äôt need keys, a list is simpler.

Example: a list of numbers, names, or scores.

* You need duplicates

Lists can store the same value multiple times, dictionaries cannot have duplicate keys.

scores = [10, 20, 20, 30]


* You frequently add/remove items in order

Lists are easy to append, insert, or remove items by position.

19. Why are dictionaries considered unordered , and how does that affect data retrieval ?

Ans. üîπ Why are dictionaries considered unordered?

In Python, a dictionary doesn‚Äôt store items in a specific order (at least before Python 3.7).

This means the order you add key-value pairs doesn‚Äôt matter internally.

Example:

student = {"name": "Alice", "age": 20, "grade": "A"}


Even if you added "age" first and "name" second, Python doesn‚Äôt guarantee it will store them in that order (again, in older versions).

üîπ How this affects data retrieval

It doesn‚Äôt matter if items are unordered for looking up values by key.

print(student["age"])  # 20 ‚Üí works instantly


You can‚Äôt rely on order if you try to iterate over the dictionary expecting items in the order they were added (again, mostly applies to Python < 3.7).

20. Explain the difference between a list and a dictionary in terms of data retrival .

Ans. List

* A list is an ordered collection of elements.

* Retrieval is done using an index (position number).

Example:

my_list = ["apple", "banana", "cherry"]

print(my_list[1])   # "banana"

Dictionary

A dictionary is an unordered collection of key‚Äìvalue pairs.

Retrieval is done using a key (like a label).

Example:

my_dict = {"a": "apple", "b": "banana", "c": "cherry"}

print(my_dict["b"])   # "banana"

# PRACTICAL QUESTIONS :

1. Write a code to creat a string with your name and print it .

In [ ]:
str ="my name is komal bajpai"

print(str)

my name is komal bajpai

2. Write a code to find the length of the string "Hello World" .

In [ ]:
input_string= "hello world"

print(len(input_string))  # Code to find the length of the string "hello world"

11

3. Write a code to slice the first 3 characters from the string "Python Programming" .

In [ ]:
text= "Python Programming"

print(text[:3])   # Slice the first 3 characters

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text= "happy"

print(text.upper()) # convert to uppercase

HAPPY

5. Write a code to replace the word "apple" with "orange" in the string "i like apple"

In [ ]:
text="i like apple"

# Code to replace the word "apple" with "orange" in the string "I like apple".

print(text.replace("apple","orange"))

i like orange

6. write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list=[]

i=1

while i<=5:

    list.append(i)

    i+=1

    print(list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list[1, 2, 3, 4] .

In [ ]:
list_1=[1,2,3,4]

# code to append the number 10 to the list_1

list_1.append(10)

print(list_1)

[1, 2, 3, 4, 10]

8. Write a code to remove the numbers 3 from the list[1, 2, 3, 4, 5] .

In [ ]:
# Code to remove the number 3 from the list[1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

# Remove 3 from the list

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list['a', 'b', 'c', 'd'] .

In [ ]:
# code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']

# Access the second element

second_element = letters[1]

print(second_element)

b

10. Write a code to reverse the list[10, 20, 30, 40, 50].

In [ ]:
li_st=[10,20,30,40,50]

# code to reverse the li_st

li_st.reverse()

print(li_st)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it .

In [ ]:
tuple=(100,200,300)

print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple('red', 'green', 'blue', 'yellow') .

In [ ]:
tuple = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element

second_last = tuple[-2]

print(second_last)

blue

13. Write a code to find the minimum number in the tuple(10, 20, 5, 15) .

In [ ]:
num=(10,20,5,15)

# Find minimum number

minimum = min(num)

print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple('dog', 'cat', 'rabbit') .

In [ ]:
animals=("dog","cat","rabbit")

# code to find index of an element

index=animals.index("cat")

print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruit=("apple","mango","kiwi","orange")

# Check if "kiwi" is in the tuple

if "kiwi" in fruit:

    print("kiwi is in the tuple")

else:

    print("kiwi is not in the tuple")

kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Code to Create a set with the elements 'a', 'b', 'c' and print it

set={"a","b","c"}

print(set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set{1, 2, 3, 4, 5} .

In [ ]:
set={1,2,3,4,5}

# code to clear all elements from the set{1, 2, 3, 4, 5} .

print(set)

{1, 2, 3, 4, 5}

18. Write a code to remove the element 4 from the set{1, 2, 3, 4} .

In [ ]:
set={1,2,3,4}

#code to remove the element 4 from the set{1, 2, 3, 4} .

set.remove(4)

print(set)

{1, 2, 3}

19. Write a code to find the union of two sets{1, 2, 3} and {3, 4, 5} .

In [ ]:
set_1={1,2,3}
set_2={3,4,5}

#code to find the union of two sets{1, 2, 3} and {3, 4, 5} .

union=set_1.union(set_2)

print(union)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets{1, 2, 3} and {2, 3, 4} .

In [ ]:
set1={1,2,3}
set2={2,3,4}

#code to find the intersection of two sets{1, 2, 3} and {2, 3, 4} .

intersection=set1.intersection(set2)

print(intersection)

{2, 3}

21. Write a code to creat a dictionary with the key "name", "age", and "city", and print it .

In [ ]:
#code to creat a dictionary with the key "name", "age", and "city", and print it

details={"name":"komal","age":23,"city":"meerut"}

print(details)

{'name': 'komal', 'age': 23, 'city': 'meerut'}

22. Write a code to add a new key-value pair "country":"USA" to the dictionary{'name':'john','age':25} .

In [ ]:
dict={"name":"jhon","age":25}

# code to add a new key-value pair

dict["country"]="USA"

print(dict)

{'name': 'jhon', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age': 30} .

In [ ]:
dict={"name":"Alice","age":30}

# code to access the value associated with the key "name"

value=dict["name"]

print(value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age':22, 'city':'New York'} .

In [ ]:
dict={"name":"bob","age":22,"city":"New york"}

#code to remove the key "age" from the dictionary

remove=dict.pop("age")

print(dict)

{'name': 'bob', 'city': 'New york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'paris'} .

In [ ]:
details = {'name': 'Alice', 'city': 'paris'}

# Check if "city" key exists

if "city" in details:
  print("key 'city' exists in the dictionary.")

else:

    print("key 'city' does not exists in the dictionary.")

key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and dictionary, and print them all .

In [ ]:
# Create a List

list_1 = [1, 2, 3, 4, 5]

# Create a tuple

tuple_1 = (10, 20, 30, 40, 50)

# Create a dictionary


dict_1 = {"name": "Alice", "age": 25, "city": "paris"}

print("List:", list_1)
print("Tuple:", tuple_1)
print("Dictionary:", dict_1)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'paris'}

27. Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result.

In [ ]:
import random

# create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
numbers.sort()

# print the result
print(numbers)

[13, 24, 48, 67, 96]

28. Write a code to create a list with strings and print the element at the third index .

In [ ]:
str_2=["apple","brinjal",2+3j,2.34]

#code to print the element at the third index

print(str_2[2])

(2+3j)

29. Write a code to combine two dictionary into one and print the result .

In [ ]:
# two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# combine the two dictionaries
combined = {**dict1, **dict2}

# print the result
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [1]:
# list of strings
my_list=["a","b","c","d"]

# convert list to set
my_set=set(my_list)

# print the result
print(my_set)

{'a', 'c', 'b', 'd'}